@import url(./fonts/fontvazir.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vazir;
}
body {
  /* direction: rtl; */
  background-color: #fff;
  font-family: Vazir;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
